@import 'variables.scss';
@import 'landscape.scss';
* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.square {
    height: $heigth;
    width: $width;
    margin: 16px;
    background-color: $max600;
    @include for-medium {
        background-color: $from600To899px;
    }
    @include for-large {
        background-color: $from900To1199px;
    }
    @include for-super-large {
        background-color: $moreThen1200px;
    }
    @include for-orientation-landscape {
        margin: $margin;
    }
}

.container {
    @include for-orientation-landscape {
        display: flex;
    }
}